@use "../../presets/index" as *;
@use "../../mixins/index" as *;


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo{
    margin-right: 214px;
}


.navigation__list{
    display: flex;
    align-items: center;
    gap: $gap-x2;
    margin-right: calc($gap-x5 + $gap);
}
.navigation__link{
    color: $color-white;
    text-decoration: none;
}
.navigation__link:hover{
    color: $color-hover;
    transition: all 0.5s ease;
}
.navigation__item{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.navigation__item:hover{
    list-style-image: url("../../../../assets/images/ellipse.svg");
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
}



.product-basket{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.product{
    display: flex;
    align-items: center;
}
.product__count{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 44px;
    color: $color-white;
}
.contact{
    display: flex;
    align-items: center;
    gap: $gap-sm;
}
.contact__btn{
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    border:1px $color-white solid;
    border-radius: 4px;
    padding: 1rem 2rem;
}
.contact__btn:hover{
    text-decoration: none;
    color: $color-white;
    font-weight: 700;
    background-color: $color-hover;
    border: 1px rgba(0,0,0,0.3) solid;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}